body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f2f7;
}

.container {
    display: flex;
    height: 100vh;
}

.image-section {
    flex: 1;
    background-image: url('./Bacground.png');
    background-size: cover;
}

/* Landing page text */

.info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.info-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}


/* Week Menu */

.menu-button {
    background-color: #ECD0DC;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #CFB5D2;
}

#weekly-menu,
#daily-menu {
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}

@media (min-width:  768px) {
    #weekly-menu,
    #daily-menu {
        float: left;
        margin-right: 20px;
    }
    }
    
#mandag{
    flex-direction: row;

}

/* Regular items */

.regular-items {
    margin-top: 50px;
}

.regular-items h2 {
    font-size: 24px;
}

.regular-items ul {
    list-style-type: none;
    padding: 0;
}

.regular-items li {
    font-size: 18px;
    margin-bottom: 10px;
}